body{
    background-color: #b8c6db;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    width: 600px;
    margin: 30vh auto;
}

.quiz-content {
    padding: 40px;
}

.quiz-container h2 {
    text-align: center;}

.quiz-content ul {
    list-style-type: none;
}

.quiz-content ul li {
    font-size: 18px;
    margin: 14px 0;
}

.quiz-content ul li label {
    cursor: pointer;
}

button {
    background-color: purple;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 24px;
    padding: 16px;
    transition: all 0.3s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

button:hover {
    background-color: #6a0dad;
}

button:focus {
    background-color: #390f57;
}

